
/* Site Section Options help */
.color-help {
  width: auto;
  tbody, td {
    border: none;
  }
}
.page-help-sl-help-section-theme-colors .color-help td span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid gray;
}
.page-help-sl-help-section-theme-colors .title-text-color-a {
  background-color: $white;
}
.page-help-sl-help-section-theme-colors .title-text-color-b {
  background-color: $gold;
}
.page-help-sl-help-section-theme-colors .title-text-color-c {
  background-color: $gray;
}
.page-help-sl-help-section-theme-colors .title-text-color-d {
  background-color: $black;
}
.page-help-sl-help-section-theme-colors .title-background-color-a {                         
  background-color: olive; 
}
.page-help-sl-help-section-theme-colors .title-background-color-b {                         
  background-color: $light-blue; 
}
.page-help-sl-help-section-theme-colors .title-background-color-c {                         
  background-color: $burgundy; 
}
.page-help-sl-help-section-theme-colors .title-background-color-d {                         
  background-color: $gold; 
}
.page-help-sl-help-section-theme-colors .menu-text-color-a {                         
  background-color: $gold; 
}
.page-help-sl-help-section-theme-colors .menu-text-color-b {                         
  background-color: $white; 
}
.page-help-sl-help-section-theme-colors .menu-text-color-c {                         
  background-color: $gray; 
}
.page-help-sl-help-section-theme-colors .menu-text-color-d {                         
  background-color: $black; 
}
.page-help-sl-help-section-theme-colors .menu-background-color-a {                         
  background-color: olive; 
}
.page-help-sl-help-section-theme-colors .menu-background-color-b {                         
  background-color: $gold; 
}
.page-help-sl-help-section-theme-colors .menu-background-color-c {                         
  background-color: $burgundy; 
}
.page-help-sl-help-section-theme-colors .menu-background-color-d {                         
  background-color: $dark-blue; 
}
