/*
 * Imports
 */

@import "variables";
@import "mixins";
@import "fontello";
@import "compass";
@import "compass/support";
@import "compass/typography/text";

/**
 * IE Compatibility
 */

$legacy-support-for-ie7 : true;
$legacy-support-for-ie8 : true;


/* Override panelizer minipanel css */
.panels-flexible-region-new-center {
    float: left;
      width: 100%;
}

iframe {
 width: 100% !important;
}

/* Menu Drop Down Layout Overrides */
.qtip-contentWrapper {
	.qtip-content.qtip-content {
	 padding: 1em !important; /* Overrides qTip css default settings */
		.omega-grid {
			.grid-1 {
				width: 6%;
				margin: 0;
			}
			.grid-2 {
				width: 12%;
				margin: 0;
			}
			.grid-3 {
				width: 18%;
				margin: 0 10px 0 0;
			}
			.grid-4 {
				width: 25%;
				margin: 0;
			}
			.grid-4.left-hand {
				margin-right: 10px;
			}
			.grid-4.right-hand {
				margin-left: 10px;
			}
			.grid-5 {
				width: 31%;
				margin: 0;
			}
			.grid-6 {
				width: 37%;
				margin: 0;
			}						
			.grid-8 {
				width: 50%;
				margin: 0;
			}
			.grid-9 {
				width: 75%;
				margin: 0;
			}	
			.grid-10 {
				width: 75%;
				margin: 0;
			}	
			.grid-11 {
				width: 75%;
				margin: 0;
			}	
			.grid-12 {
				width: 75%;
				margin: 0;
			}
			.grid-13 {
				width: 81%;
				margin: 0;
			}
			.grid-14 {
				width: 87%;
				margin: 0;
			}
			.grid-15 {
				width: 93%;
				margin: 0;
			}
			.grid-16 {
				width: 99%;
				margin: 0;
			}
			img {
			 max-width: 220px;
			 height: auto;
			}
		}
	}
}

.grid-13.row2 {
	.grid-4.row2_col1.lower_left { margin-left: 0; }
	.grid-9.row2_col2.lower_right {
	 margin-right: 0;
	 }
	.grid-4.row2_col1.lower_left,
	.grid-9.row2_col2.lower_right {
	 	@include respond-to(handhelds) { margin: 0; }
	}
}


/* 
 * Layout Adjustments
 */

.panel-pane { margin-bottom: 1em; }

.pane-node-title {
 margin-bottom: 0px;
	.pane-content {
	 padding-bottom: 0px;
	}
}

.custom-content > .pane-content {
	@include content-custom;
	@include equal-pad;
}



/* 
* Custom Page layouts
*/

/* home */
.front {
	.pane-events-panel-pane-1 {
		.pane-content {
		 padding: 0;
		 }
	}
}

/* 404 */
.context-page-not-found {
	.grid-16 > .inside {
	 border-radius: 0 0 4px 4px;
	 border: 1px solid $crumbs;
	 background-color: $white;
	 padding: 1em;
	 .pane-node-body .paragraph:nth-child(2) {
	 	font-family: $alt-font;
	 	font-size: 1.2em;
	 	font-color: $light-gray;
	 	font-style: italic;
	 }
	 .block-search-form {
	  text-align: center;
	 }
	}
}

/* 403 */
#access-restricted {
	.grid-16 {
	 @include content-custom;
	 @include equal-pad;
	 width: 96%;
		 p.alt-font {
		 font-family: $alt-font;
		 font-size: 1.2em;
		 font-color: $light-gray;
		 font-style: italic;
		 }
	 }
}

/* Reusable - Academic  */


ul.links {
 padding: 0;
 margin: 0;
	.node-readmore {
	 padding: 0;
	 margin: 0;
		a, a:link, a:visited {
		padding: 0;
		margin: 0;
		background: transparent !important;
		border: hidden !important;
		color: $burgundy;
		float: none !important;
		font-style: italic;
		font-family: $alt-font;
		text-align: right;
		}
		a:hover, a:active, a:focus {
		color: darken($burgundy, 20%);
		}
	}
}
/* 
 * Content
 */

/* General Content */ 
.submitted {
	font-family: $alt-font;
	color: $gray;
	font-style: italic;
	font-size: 1.1em;
}

.pane-node-field-reference-person {
	h2.pane-title {
	 @include burgundy-header;
	 margin: 0;
	}
	.pane-content {
		h2.node-title {
		 margin: 0 0 0.5em 0;
		 font-size: 1.5em;
		}
		.content {
			.field-name-field-person-headshot {
				img {
				 float: left;
				 margin: 0 0.5em 0.5em 0;
				}
			}
			.field-name-field-person-email,
			.field-name-field-person-phone {
			 float: left;
			}
			.field-name-field-location-address {
			 margin: 0;
			}
		} 
	}
}
.pane-views-panes {
  	h2.pane-title {
	margin-top:0;
	}
	.view-content {
	@include list-pad;
	}
}

.node-type-faq .row1 {
   @include content-custom;
   @include list-pad;
   margin-bottom: 1.5em;	
}

/* BEGIN: Webform Node Type */
.athletics-context {
	> .node-style-webforms {
		.pane-node-body {
			color: #CCCCCC !important;
		}
	}
}
.node-type-webform {
	button, input[type="reset"], input[type="submit"], input[type="button"] {
	@include default-bttn;
	@include default-round;
	}
	button:hover, button:active, button:focus,
	.form-submit:hover, .form-submit:active, .form-submit:focus	{	@include default-bttn-hover;
	}
	.pane-node-title h2 {
	 margin: 0;
	 border: hidden;
	}
	.pane-node-webform {  
	  @include content-custom;
	  @include equal-pad;
	}
	.webform-container-inline,
	.webform-component-select {	
		label {
		 width: 20%;
		 display: inline-block ;
		 margin-right: 1em;
		}
	}
}
.reddisclaimer, span.form-required {
	color: $burgundy;
}

.form-item .description, .tips, .description {
    color: $dark-gray;
    font-family: $alt-font;
    font-style: italic;
}


/* END: Webforms end */


/* Testimonial Content Type  */
.testimonial {
	.pane-node-content {
    .field {
      clear: both;
    }
	 @include content-custom;
	 @include equal-pad;
		.field-name-field-testimonial-image {
			@include respond-to(handhelds) {
			float: none;
			text-align: center;
			margin: 0 0 1em 0;
			} /* Mobile */
				img {
				 @include pretty-picture;
		 		}
		}
		.field-name-field-attribution,
		.views-field-field-attribution {
		 font-weight: bold;
		 font-size: 1.167em;
		 color: $gray;
		}
		.field-name-field-affiliation,
		.views-field-field-affiliation {
		 color: $light-gray;
		 font-size: 1.09em;
		 font-family: $alt-font;
		 font-style: italic;
		}
		.field-name-field-academic-subject {
		 margin: 1em 0;
		}
	}
}
/* END: Testimonial Content Type */


/* Alert Content Type */
.field-name-field-alert-link {
 text-align: center;
 margin-bottom: 0.538em;
	a, a:link, a:visited {
	@include gold-bttn;
  	}
	a:hover, a:active, a:focus {
 	@include gold-bttn-hover;
  }
}

.node-alerts-sitewide {
  @include content-custom;
  @include equal-pad;
    .submitted {
      margin-bottom: 1em;
    }
}
/* END: Alert Content Type */


/* Event Content Type */

.pane-node-content {
	.pane-node-title {
	 margin-bottom: 0;
	}
	.node-event {
	 padding: 1em;
	 @include content-custom;
		 	.field-name-field-win-loss {
		 	.field-items {
		 	 font-weight: bold;
		 	 margin: 0.5em 0;
			 font-size: 1.67em;
			 border-bottom: 1px solid $crumbs;
		 	}
	 	}
		.field-name-field-event-date,
		.field-name-field-location,
		.field-name-field-coordinator,
		.field-name-field-team,
		.field-name-field-opponent,
		.field-name-field-hartnell-score,
		.field-name-field-opponent-score {
		 font-size: 1.154em
		}
		.field-name-field-opponent {
		 margin: 0 0 0.5em 0;
		}
		.field-name-field-hartnell-score,
		.field-name-field-opponent-score {
		 text-align: center;
		 width: 50%;
		 float: left;
			.field-items {
			 padding: 0 0 1em 0;
			}
		}
		.field-name-field-event-date {
			.field-label {
			 // padding: 3px 4px 0 0;
			}
			span.date-display-single {
			 font-family: $alt-font;
			 color: $gray;
			 margin-right: 0.5em;
			}
		}
		.field-name-body {
		 margin-top: 1.25em;
		 clear: both;
		}
		.field-name-field-sign-up-form-link {
		 text-align: center;
			a, a:link, a:visited {
			@include gold-bttn;
		  	}
			a:hover, a:active, a:focus {
		 	@include gold-bttn-hover;
		  }
		}
		.field-name-field-news,
		.field-name-field-speaker-notes {
		 margin: 1em 0;
		 clear: both;
			.field-label {
		 	 margin-bottom: 0.5em;
			 font-size: 1.67em;
			 border-bottom: 1px solid $crumbs;
			}
		}
		.field-name-field-news {
			.field-item {
			 border-bottom: 1px solid $white;
			 border-top: 1px solid $white;
			}
		}
		nav.node-links {
		 display: none;
		}
	}
}
/* END Event Content */


/* BEGIN News Content */

.node-news {
 @include content-custom;
 @include list-pad;
 	.field-name-field-team,
	.field-name-field-news-date {
	 font-size: 1.2em;
	}
	.field-name-field-news-date {
	 margin: 0 0 1em 0;
		span.date-display-single {
		 font-family: $alt-font;
		 color: $gray;
		 margin: 0 0 0 0.5em;
		}	
	}
	.field-name-field-news-hero {
		img {
		 float: left;
		 margin-right: 1em;
		}
	}
}

/* END News Content */


/* Person: Academic Content Type */

.person-content-body {
  // Fake a pane title so content in both regions will align horizontally
    .row2 {
      &:before {
        content: "Contact Information";
        display: block;
        @extend h2;
        @extend h2.pane-title;
      }
    }
}

.node-type-person {
  #page-title {
    display: none;
  }
  h1.title, .pane-node-title h1 { 
    margin-bottom: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
	.field {
	  margin-left: 34%;
	}
	.pane-node-field-person-title {
	  color: $white;
	  background: $dark-gray;
	  padding: 0 19px 3px 19px;
	}
	.field-name-field-person-headshot {
	  position: absolute;
	  margin: 0 1em 0 0;
	}
	.field-name-field-person-quote {
	 padding: 1em 0 0 0;
		 p {
		 font-style: italic;
		 font-family: $alt-font;
		 color: $gray;
		 font-size: 1.2em;
		 }
	}
	.field-name-field-bio,
	.field-name-field-favorite-hobbies,
	.field-name-field-favorite-movies,
	.field-name-field-favorite-athletes,
	.field-name-field-favorite-foods,
	.field-name-field-social-icons {
	  margin-left: 0%;
	 	.field-label {
	 	 margin-top: 1em;
	 	}
		 p:last-child {
		 margin-bottom: 0;
		}	 
	}
  // Adjust nested columns in second row
  .container-16 .grid-7.row2col1 {
    width: 33%;
  }
  .container-16 .grid-6.row2Col2 {
    width: 60%;
    .inside {
      display: table;
      .panel-pane {
        display: table-row;
      }
      & h2.pane-title {
        display: table-cell;
        font-size: 13px;
        width: 30%;
        border-bottom: none;
      }
      .pane-content {
        display: table-cell;
        width: 70%;
        padding-left: 10px;
      }
    }
  }
}

/* END: Person: Academic */


/*
 * FAQ
/*
.node-type-faq {
	.field-name-body {
		.field-item {
			 p {
			 font-family: $alt-font !important;
			 font-size: 1.127em !important;
			 margin-bottom: 1em !important;
			}
		}
	}	
}
/* END: FAQ */


/*
 * Location Content Type
 */

#location-title {
 border-bottom: 1px solid #CCCCCC !important;
 font-size: 1.67em;
 margin-bottom: 0.5em;
 color: $gray;
 font-weight: bold;
}
.node-teaser h2.node-title {
  @include respond-to(handhelds) { 
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
  }
}
.node-person.node-teaser,
.node-location.node-teaser  {
 @include content-custom;
 @include equal-pad;
  .content {
    background-color: white;
	border: hidden;
	padding: 0;
  }	 
}
.node-person.node-teaser {
  h2.node-title {
    margin: 0 0 0.5em 0;
      a, a:link, a:visited {
        color: $burgundy;
        text-decoration: none;
      }
  }
}

.node-location {
	.content {
	  @include content-custom;
	  @include equal-pad;
	}
	.field-name-field-location-photo {
		img {
		 @include pretty-picture;
	 	}
	}
	.field-name-field-location-address,
	.field-name-field-location-city,
	.field-name-field-location-state,
	.field-name-field-location-zip,
	.field-name-field-location-phone {
	 font-size: 1.2em;
		.field-item { 
		 font-family: $alt-font;
		 color: $gray;
		}
	}
	.field-name-body,
	.field-name-field-complete-address {
	 margin-top: 1em;
	}
 	.field-name-field-complete-address {
		.field-item.even > iframe {
	     width: 100%;
	     margin-top: 1em;
		}
	}
}
.pane-node-field-location,
.pane-node-field-flexpage-location {
		h2.pane-title {
		 @include burgundy-header;
		 margin: 0;
		}
		.content {
		  h2.node-title {
		    margin: 0 0 0.5em 0;
		      a, a:link, a:visited {
		        color: $burgundy;
		        text-decoration: none;
			  }
			  a:hover, a:active, a:focus {
			    color: darken($burgundy, 10%);
				text-decoration: none; 
			  }
		 	}
		 	.field-name-field-location-type,
		 	.field-name-field-location-address,
		 	.field-name-field-location-phone {
		 	  margin: 0;
		 	  display: block;
			    .field-label {
				  float: left;
				  min-width: 30%;
				  /* Mobile */ 
				    @include respond-to(handhelds) {
				      width: 100%;
				      float: none;
				      display: block;
				    }				    
			 	}
			 	.field-items {
				  width: 69%;
				  float: left;
				  /* Mobile */  
				  	@include respond-to(handhelds) {
				      width: 100%;
				      margin-bottom: 0.5em;
				      float: none;
   				      display: block; 
					} 
			 	}
		 	}
		}
		.group-location-standardfields {
		 margin: 0;
		}
}
.node-readmore {
	a, a:link, a:visited {
	 @include fancy-link;
	 font-weight: normal;
	}
	a:hover, a:active, a:focus {
	 text-decoration: none;
	 @include fancy-link-hover;
	}
	a:after {
	margin-left: 0.5em;
	}
}

.node-location.node-teaser {
  h2.node-title {
	margin: 0 0 0.5em 0;
  }
  .field-name-field-location-address,
  .field-name-field-location-city,
  .field-name-field-location-state,
  .field-name-field-location-zip,
  .field-name-field-location-phone {
	 font-size: 1em;
	   .field-item { 
		 font-family: $base-font;
		 color: $gray;
		}
	}
}

/* END Location Content Type */ 


/* 
 * END Content Types
 */

/* 
 * CONTENT TYPE: Promotion
 */

.field-type-entityreference {
  .node-ad {
    .node-title {
      display: none;
	}
  }
}

/* Promotion type: Button */
.node-type-ad {
	.pane-node-content {
	 padding: 0;
	 border: 0;
		.node-ad {
		 padding: 0;
		 margin-bottom: -6.5px;
		}
	}
}
.promo-button {
 @include promoButtn;
 min-height: 20px;
 margin: 0 auto;
 @include list-pad;
 vertical-align:middle;
 	a, a:link, a:visited {
	 color: $light-gray;
	 text-decoration: none;
	 @include text-shadow;
	 line-height: 1.1;
 	 letter-spacing: 0;
 	 font-size: 1.2em;
 	 font-weight: bold;
	}
	[class^="icon-"]:before, [class*=" icon-"]:before {
	 zoom: 1;
	 float: left;
	 margin-right: 0.50em;
	 line-height: 1.1;
	}
}
.promo-button:hover, .promo-button:active, .promo-button:focus {
 @include promoButtn-hover;
 	[class^="icon-"]:before, [class*=" icon-"]:before {
 	 color: $gold;
 	}
	a {
	 color: $black;
	 text-decoration: none;
	 text-shadow: none;
	}
}

.promo-ad {
 background-color: $gray;
 padding: 0.5em 0;
 	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0;}
 	p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, table, address {
 		padding-left: 13px;
 		padding-right: 13px;
 	}
	.adButtn, .adButtn:link, .adButtn:visited {
	 @include adButtn;
		a {
		 font-weight: bold;
		 text-decoration: none;
		 color: $dark-gray;
		}
	}
	.adButtn:hover, .adButtn:active, .adButtn:focus {
	 @include adButtn-hover;
	 	a {
		 color: $burgundy;
		}
	}
	.rteright {
	 margin: 0 13px;
	}		
}
.promo-alert {
 @include list-pad;
 background-color: $black;	
}
.promotion-type-alert{
	.field-name-field-ad-link {
	 background-color: $gold;
	}
	.field-name-field-ad-link:hover {
	 background: -moz-linear-gradient(
		top,
		#ffbf00 0%,
		#e18f00);
	 background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffbf00),
		to(#e18f00));
	 border: 0px solid #000000;
	}	
}
.field-name-field-ad-link {
 padding: 0em 0.5em 0.077em 0.5em;
 text-align: right;
 text-transform: uppercase;
 background-color: $crumbs;
	a, a:link, a:visited {
	 color: $gray;
	 font-weight: bold;
	 text-decoration: none;
	 letter-spacing: 0;
	 font-size: 10px;
	}
}
.field-name-field-ad-link:hover {
 background-color: darken($crumbs, 10%);
 	a:hover, a:active, a:focus {
	 color: $black;
	 font-weight: bold;
	 text-decoration: none;
	}
}


/* END Promotion type: Button */

/* 
 * END: CONTENT TYPE: Promotion
 */
