/*
 * Imports
 */

@import "variables";
@import "mixins";
@import "fontello";
@import "fontello-mixins";
@import "compass";
@import "compass/support";

/**
 * IE Compatibility
 */

$legacy-support-for-ie7 : true;
$legacy-support-for-ie8 : true;

/* 
 * Views
 */

/* General Views - GLOBAL */

.view-empty {
  @include equal-pad;
   font-family: $alt-font;
   font-style: italic;
   font-size: 1.1em;
   text-align: center;
   color: $light-gray;
   p {
   	margin: 0;
   }
}

.views-field-body {
 color: $gray;
 font-weight: normal;
 font-family: $base-font;
 font-size: 13px;
}

.homepage-event {
	margin: 0;
}

.publish-date {
 font-family: $alt-font;
 color: $gray;
 font-style: italic;
}

.item-list {
  .pager {
    margin-top: 1em;
    min-height: 22px;
	border: 1px solid $crumbs;
	border-radius: 0px 0px 0px 0px;
	background:none repeat scroll 0 0 $white;
	  li {
	    a {
		  padding: 4px 8px !important;
		}
	  }
  }
}

.pager li.first,
.pager li.first a,
.pager li.first a:hover,
.pager li.pager-last,
.pager li.pager-last a,
.pager li.pager-last a:hover {
  border-radius: 0px;
}

.pager li.pager-last,
.pager li.pager-last a,
.pager li.pager-last a:hover {
  border-left: 1px solid $crumbs;	
}    

.pane-views-panes {
	h2.pane-title {
	 @include burgundy-header;
	}
	.view {
	  @include content-custom;
	    h3.field-content {
	      font-size: 18px;
	      margin-bottom: 0;
	      line-height: 1.2;
	    }
		.read-more,
		.read-more-link {
		  @include fancy-link;
		  text-align: right;
		}
		a:hover, a:active, a:focus {
		  @include fancy-link-hover;
		}
	 	.view-content {
	 	  padding: 0;
		    .views-row {
			  @include list-pad;
			  border-bottom: 1px dotted $crumbs;
			}
       .views-responsive-grid {
          h3 {
            clear: both;
          }
         .views-row {
           border-bottom: none;
          padding-top: 0;
          padding-bottom: 0;
         }
       }
	 	}
		.view-filters {
		 @include list-pad;
			 .views-exposed-widget {
			 	label {
			 	 float: left;
			 	 margin-right: 1em;
				}
			}
		}
	}
}

/* END General Views - GLOBAL */


/* News and Press Releases Views */
.view-news { 
	.view-content {
	 padding: 0;
		.news-view-row {
		 margin: 0;
		 @include list-pad;
			h3.news-title {
			 font-size: 1em;
			 margin: 0;
				a, a:link, a:visited {
				 color: $black;
				 text-decoration: none;
				}
			}
			.news-body {
			 color: $black;
			 	p:last-child {
				 margin-bottom: 0;
				}
			}
			.field-label-inline {
         	  float: left;
         	  margin-right: 1%;
         	}	
		}
		.views-row-last.news-view-row {
		 border-bottom: none;
		}
		.news-view-row:hover,
		.news-view-row:active,
		.news-view-row:focus {
		 cursor:pointer;
		 background-color: #e8e8e8;
		 	h3.news-title {
				a, a:link, a:visited, a:hover, a:active, a:focus {
				 color: $burgundy;
				 text-decoration: none;
				}
			}
		}
	}
}
.view-news { 
	.view-footer {
	  border-top: 1px solid $crumbs;
	  text-align: right;
	  padding: 0.5em;
		a, a:link, a:visited {
		  @include fancy-link;
		  text-align: right;
		}
		a:hover, a:active, a:focus {
		  @include fancy-link-hover;
		}
	}
}

.press-archive {
	.view-content {
	 @include content-custom;
		.item-list {
		 padding: 0;
			ul.views-summary {
			 margin: 0;
				li {
				font-family: $alt-font;
				font-size: 1.167em;
				border-bottom: 1px dotted $crumbs;
				margin: 0;
				@include list-pad;
				}
				li:last-child {
				border-bottom: none;
				}
			}
		}
	}
}

/*  News - Home */
.news-home {
  .pane-views-panes &.view {
    .view-content {
      .views-row {
        border-bottom: none;
      }
    }
  }
	.views_slideshow_main {
    .views_slideshow_slide {
      max-width: 100%;
    }
		.views_slideshow_cycle_teaser_section {
	     min-height: 20em;
			.views-slideshow-cycle-main-frame-row-item {
			  @include equal-pad;
			  padding-bottom: 5em;
			 	.news-slide-image {
			 		img {
				 	  float: left;
				 	  margin-right: 1em;
				 	  max-width: 40%;
			 		}
			 	}
			 	h3.news-title {
		  		font-size: 1em;
				  margin: 0;
					a, a:link, a:visited {
					  color: $black;
					  text-decoration: none;
					}
				}
				.news-body {
				  color: $black;
				  // padding-bottom: 5em;
				 	p:last-child {
					  margin-bottom: 0;
					}
				}
			}
		}
	}
	ol.flex-control-nav {
	 bottom: -30px;
	}
	.widget_pager_bottom {
	  border-top: 1px solid $crumbs;
	  min-height: 25px;
	  padding: 1em 1em 0;
      position: relative;
      z-index: 10;
	    .views-slideshow-pager-field-item {
	      cursor: default;
	      float: left;
			.views-field-counter {
			  margin-right: 0.475em;
		   	  float: left;
		   	  padding: 0.25em 0.5em;
		   	  display: block;
		   	  font-weight: bold;
		   	  border: 1px solid $crumbs;
		   	  text-decoration: none;
		   	  color: $crumbs;
		   	  background-color: $white;
		   	}
		    .views-field-counter:hover {
		   	  color: $gray;
		   	  text-decoration: none;
		   	  background-color: $crumbs;
			}
		}
	    .active {
		    .views-field-counter {
		   	  color: $gray;
		   	  text-decoration: none;
		   	  background-color: $crumbs;
			}
	    }
	}	
}
/*  END: News - Home */



/* END News Feed */


/* Calendar: Month View */

.calendar_control,
.calendar_links,
.calendar_header,
.calendar { 
	 width: 100%; }

.fc-event-default,
.fc-event-default .fc-event-skin,
.fc-event-default .fc-event-time,
.fc-event-default a,
.fc-event-default a:link,
.fc-event-default a:active,
.fc-event-default a:visited {
 background-color: $white;
 border-color: $white;
 border-style: solid;
 border-width: medium;
	.fc-event-time {
	 font-family: $alt-font;
	 color: $black;
	}
	.fc-event-title {
	 color: $gray;
 	 font-family: $base-font;
	}
}
.fc-header-left, .fc-header-right {
  @include list-pad;	
}

.fc-event-default:hover,
.fc-event-default .fc-event-skin:hover,
.fc-event-default.fc-event-time:hover,
.fc-event-default a:hover {
  text-decoration: none; 
  	 .fc-event-time {
	  color: $burgundy;
	}
	 .fc-event-title {
	  color: $black;
	}
}

.fc-today { background: #fff5d9; }

.fc-event-skin {
 border-top: none;
 border-right: none;
 border-bottom: none;
 border-left: 4px solid $gold;
 margin: 0 0 6px 0;
 padding: 0 0 0 2px;
 }
 .fc-event-inner.fc-event-skin {
  border: none;
 }

.fc-event-time, .fc-event-title { padding: 0; }

.calendar { 
  @include respond-to(handhelds) { display: none; } /* Mobile */
  @include respond-to(medium-screens) { display: none; } /* Tablets */
	.views-exposed-widgets {
		#edit-submit-calendar { margin: 0; }
		#edit-reset { margin: 0; }
	}
	.view-content .fullcalendar {
		table {
			thead {
			border-color: $dark-gray;
				th:first-child, th:last-child { border-radius: 0; }
				th {
					color: $gold;
					font-weight: bold;
					background: $dark-gray;
					font-weight: bold !important;
					text-transform: uppercase;
					border: none;
				}
			}
			tbody {
				tr {
					td {
					border-left: 0;
						.fc-day-number {
						 color: $gray;
						 font-family: $alt-font;
						 font-size: 1.67em;
						 }
					}
					td:first-child { border-left: 1px solid $crumbs; }
				}
			}
		}
	}

}
.calendar-responsive {
  @include respond-to(wide-screens) { display: none; }
    h3 {
      @include dark-header;
      color: $gold;
      text-align: center; 
    }
    .calendar-title-list,
    .calendar-time-list {
       text-align: center;  
    }
    .calendar-title-list {
       margin: 0;    
    }
    .calendar-title-list a,
    .calendar-title-list a:link,
    .calendar-title-list a:visited {
      color: $gray; 
	  text-decoration: none;
	}
    .calendar-title-list a:hover,
    .calendar-title-list a:active,
    .calendar-title-list a:focus {
	  color: darken($burgundy, 10%);
	  text-decoration: none;
	}		    
    .calendar-time-list {
      font-family: $alt-font;
      color: $black;
      font-weight: bold;
    }        
}


/* END Calendar */


/* Events - Feed */

.pane-tabbed-news-and-events {
	.ui-tabs {
	 border: none;
     border-radius: 0px 0px 0px 0px;
     background: transparent;
	 padding: 0;
		.views-field-body {
		 font-family: $base-font;
		 font-size: 1em;
		}
	}
}

.view-events {
 @include content-custom;
	.view-content {
	 padding: 0;
		.event-view-row {
		 	.views-field-field-event-date,
		 	.views-field-field-event-date-2 {
					h6, h2 {
					text-align: center;					
					margin: 0;
					}
					h6 { 
					 background: $light-gray;
					 font-size: 10px;
					 letter-spacing: 0;
					 text-transform: uppercase;
					  .date-display-single {
					   font-weight: bold;
					  }
					}
					h2 {
					 padding: 0 0 0.250em 0;
					 margin: 0;
					 font-family: $alt-font;
					 color: $burgundy;
					 font-weight: normal !important;
					}
				.calendar-date {
				 border: 1px solid $crumbs;
				 background: $white;
				}
				.date-block {
				 border: 1px solid $crumbs;
				}
			}
			.views-field-title {
				a:hover, a:active, a:focus {
				 text-decoration: none;				
				}		 
				.event-lock {
				  @include respond-to(handhelds) { text-align: center; } /* Mobile */
					h6.event-time {
					 font-family: $alt-font;
					 font-weight: normal;
					 color: $light-gray;
					 padding: 0em;	 
					 margin: 0;
					 font-size: 10px;
						 a, a:link, a:visited {
						 text-decoration: none;
						 }
						 a:hover, a:active, a:focus {
						 color: $burgundy;
						 text-decoration: none;
						 } 						 
					}
					h4.feed-title {
					 padding: 0em;	 
					 margin: 0;				 
					 color: $black;
					 font-size: 0.9em;
					 line-height: 1.2em;
						a, a:link, a:visited {
						 text-decoration: none;
						}
						a:hover, a:active, a:focus {
						 color: $burgundy;
						 text-decoration: none;
						} 						 
					}
				}
			}
			p {
			 text-align: right;
			 margin: 0;
				a.more-events, a.more-events:link, a.more-events:visited {
				 color: $light-gray;
				 text-decoration: none;
				}
				a.more-events:hover, a.more-events:active, a.more-events:focus {
				 color: $burgundy;
				 text-decoration: none;				
				}
			}
			.more-of-event {
			 @include respond-to(handhelds) { display: none; } /* Mobile */
			}
		}
		.views-row-last.event-view-row {
		 border-bottom: none;
		}
	}
	.view-footer {
	  clear: both;
	  @include list-pad;
	  border-top: 1px solid $crumbs;
	    ul.event-list {
		  display: block;
		  margin: 0;
		  width: 100%;
		  	li {
		  	  list-style: none;
			  display: inline-block;
				a, a:link, a:visited {
				  @include fancy-link;
				  font-size: 1em;
				}
				a:hover, a:active, a:focus {
				  @include fancy-link-hover;
				}
				a:after {
				  margin-left: 0.5em;
				}
			}
			li.add-event {
			  text-align: left;
			}			
		}
	}
	.read-more {
	  font-style: italic;
	}
	p.calendar {
	 margin: 0;
	 text-align: right;
	}
}

 /* Hover Functionality */
.view-events {
	.view-content {
		.views-row:hover, .views-row:active, .views-row:focus {
		 cursor:pointer;
		 background-color: #e8e8e8;
			.date-block:hover, .date-block:active, .date-block:focus {
			 background: $burgundy;
				.date-display-single {
				 color: $white;
				}
			}
			.event-lock:hover, .event-lock:active, .event-lock:focus {
				a.more-events, a.more-events:link, a.more-events:visited {
				 text-decoration: none;
				}
				a.more-events:hover, a.more-events:active, a.more-events:focus {
				 text-decoration: none;	
				}
			}
		}
	}
	.view-footer {
	  a,
	  a:link,
	  a:visited,
	  .read-more,
	  .read-more-link {
	    @include fancy-link;
	  }
	  a:hover, a:active, a:focus {
		@include fancy-link-hover;
	  }	
	}
}

/* END: Events - Feed */


/* 
 * FAQ View
 */

.view-faq {
	.view-filters {
	 padding: 0 1em !important;
	}
	.view-content {
	 @include content-custom;
	 padding: 0;
		.views-row {
		 font-weight: bold;
			a, a:link, a:visited {
			 color: $dark-gray;
			}
			a:hover, a:active, a:focus {
			 text-decoration: none;
			 color: $burgundy;
			}		 
		}
	}
	.view-footer {
	 border-top: 1px solid $crumbs;
	 @include list-pad;
		p {
		 text-align: right;
		 margin-bottom: 0;
			a, a:link, a:visited {
			 @include fancy-link;
			}
			a:hover, a:active, a:focus {
			 text-decoration: none;
			 @include fancy-link-hover;
			}
			a:after {
			 content:"►";
			 margin-left: 0.5em;
			}
		}
	} 
}
 /* END: FAQ View */


/* 
 * Audience Promo View
 */

/* Over riding the width generated in default/ctools/css */
.panels-flexible-region-153-center,
#mini-panel-audience_promotion .panel-flexible-inside {
    width: 100% !important;
}

.pane-audience-promotion {
	#tabs-audience_promotion-center {
		border: hidden; /* Overriding default jquery style */
		border-radius: 0 0 0 0;
		padding: 0;
		.ui-widget-content {
		  padding: 0;
		  background-color: none;
    	  border: none;
			.pane-views-panes {
			  border-radius: 0 0 0 0; /* Overriding default jquery style */
			  border: hidden; /* Overriding default pane style */
			  padding: 0;
			  .pane-content {
			    padding: 0;
				  .view-content {
				    padding: 0;
				    @include no-custom;
				    .views-row {
	 				 border-bottom: hidden !important;
				     padding: 0 0 1em 0;
					    .audience-row {
						    img.adaptive-image {
						      top: 0;
						      width: 100%;
						    }
					    }
					    .audience-overlay {
					      @include list-pad;
					      background-color: $overlay;
					      font-size: 0.833em;
					      strong {
					       	color: $gold;
					     	}
							  p {
							   	color: $white;
							   	margin-bottom: 0;
							   	font-family: $base-font;
							  }
							  a, a:link, a:visited {
								  color: $white;
							   	font-family: $base-font;
								  font-weight: bold;
							 	}
								a:hover, a:active, a:focus {
							  	text-decoration: none;
								  color: $gold;
								}
								.more-right.icon-right-open {
									display: block;
								  text-align: right;
								}
								.icon-right-open:before {
							  	float: right;
								  text-align: right;
								  font-size: 3em;
								  line-height: 1;
								}
					    }
				    }		     
			    }
				}
			}
		}
		.item-list {
		  width: 100%;
	  	border-radius: 0 0 0 0;
	  	ul {
	  	  background: transparent; /*  Overriding jquery  */
	  	  border: hidden;	
	  	  border-radius: 0 0 0 0; /*  Overriding jquery  */
	  	  padding: 0; /*  Overriding jquery  */
		    display: block;
		    border: 0;
	  	 	li {
	  	  	background: $gray;
		  	  /* inset shadow 1px horizontal/vertical, 2px blur, 0 spread, #color */
			    -webkit-box-shadow: inset 1px 1px 2px 0px #0D0D0D;
			    -moz-box-shadow: inset 1px 1px 2px 0px #0D0D0D;
			    box-shadow: inset 1px 1px 2px 0px #0D0D0D;
			    /* border for edge, 1px solid #color */
			    border-bottom: 1px solid $gray;
			    border-top: 1px solid $light-gray;
	  	 	  padding: 0; /* Overriding default jquery style */
	  	  	margin: 0; /* Overriding default jquery style */
	  	 	  border-radius: 0 0 0 0; /* Overriding jquery */
	  	 	  float: none; /* Overriding jquery */
	  	 	  list-style: none;
	  	 	  a, a:link, a:visited {
		  	 	  float: none; /* Overriding jquery */
		  	 	  @include respond-to(handhelds) { font-size: 100%; } /* Mobile */
		  	 	  @include respond-to(medium-screens) { font-size: 75%; padding: 6% 11%; } /* Tablets */
		  	 	  color: $white;
		  	 	  font-weight: bold;
		  	 	  font-family: $base-font;
		  	 	  display: block;
		  	 	  margin-left: 0;
		  	 	  padding: 4% 5%;
		  	  }
	  	 	}
	  	 	li:before {
	  	 	  color: $gray;
	  	 	  margin-right: 0.5em;
	  	 	}
	  	 	li.ui-state-active,
	  	 	li:hover,
	  	 	li:active,
	  	 	li:focus {
	  	 	  cursor:default;
	  	 	  background: $burgundy;
	  	 	  border-bottom: 1px solid $burgundy;
			    border-top: 1px solid #660033;
	  	 	}
	  	 	li.ui-state-active:before,
	  	 	li:hover:before,
	  	 	li:active:before,
	  	 	li:focus:before  {
	  	 	  color: $white;
	  	 	  // content:"◄";
	  	 	}
			}
		}
	}
}

/* MOBILE: Audience Promo View */

.front {
	.grid-13.omega.promo-wrapper {
		margin: 0;
	}	
	.audience-row {
	  @include respond-to(handhelds) {
	  	disaply: inline-block !important;
	  	margin: 0 0 1em 0 !important;
	  } /* Mobile */ 
		img {
		  @include respond-to(handhelds) {
		  	min-width: 100% !important;
		  } /* Mobile */ 
		}
		.audience-overlay {
		  @include respond-to(handhelds) { display: inline-block !important; }
		}     
	}
	.grid-3.omega.tab-wrapper {
 	  @include respond-to(medium-screens) { min-width: 125px; } /* Tablets */ 
 	  @include respond-to(handhelds) {  margin: 0; } /* Mobile */ 
	}
} 
 
/* 
 * END: Audience Promo View
 */

/* A-Z Index View */
.a-to-z-index-glossary {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  font-family: $alt-font;
  color: $crumbs;
  border-bottom: 1px dotted $crumbs;
	.views-summary a,
	.views-summary a:link,
	.views-summary a:visited {
     color: $burgundy; 
	 text-decoration: none;
	}
	a:hover, a:active, a:focus, a.active {
	 color: darken($burgundy, 10%);
	 text-decoration: none;
	}
}
.a-to-z-index-body > .view-content {
	@include content-custom;
  @include gap;
  h3 {
    padding: 0 0 0 10px;
    margin: 0 10px 0 10px;
    font-family: $alt-font;
    color: $light-gray;
    font-weight: normal;
    border-bottom: 1px dotted $crumbs;
  }
  & > div {
    margin: 0 0 10px 10px;
    h6 {
      margin: 7px;
    }
  }
  a, a:link, a:visited {
    color: $black;
    text-decoration: none;
  }
  a:hover, a:active, a:focus {
    color: darken($burgundy, 10%);
    text-decoration: none;
  }
}
.views-responsive-grid {
  .index-views-row {
    clear: both;
    min-height: 38px; 
      .views-column-1, .views-column-3 {
        background: #e8e8e8;
     }       
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-17,
  .grid-18,
  .grid-19,
  .grid-20,
  .grid-21,
  .grid-22,
  .grid-23,
  .grid-24 {
    margin-left: 0;
    margin-right: 0;
  }
}

/* END A-Z Index View */

/* Locations Views */
.view-locations {
	table, thead, tbody, th, td, tr { 
	 @include respond-to(handhelds) { display: block; } /* Force table to not be like tables anymore */
	}
	table {
		tbody {
		 border: none;
			 tr {
				 td {
				  @include respond-to(handhelds) { text-align: center; } /* Mobile */
				  @include respond-to(handhelds) { border-bottom: 1px solid $crumbs; } /* Mobile */
          @include box-sizing(border-box);
				  padding: 1em;
				  border: none;
				  	h4.locations {
				  	 @include respond-to(handhelds) { font-size: 1.5em; } /* Mobile */
				  	 margin-bottom: 0;
						a, a:link, a:visited {
						 color: $dark-gray;
						}
						a:hover, a:active, a:focus {
						 color: $burgundy;
						 text-decoration: none;
						}				  	 
				  	}
					.location-thumb {
						img {
						 @include pretty-picture;
						}
					}
					.views-field-field-location-address,
					.views-field-field-person-phone {
					 font-size: 1.182em;
					}
					.views-field-field-location-address-1 {
					 margin: 1em 0 0 0;
						a, a:link, a:visited {
						 @include gold-bttn
						}
						a:hover, a:active, a:focus {
						 @include gold-bttn-hover
						}
					}
				}
			}
		}
	}
  p.simple-gmap-link {
    text-align: left;
  }
}
/* END Locations View */


/* Testimonial Views */

.view-testimonials {
	.view-content {
	  padding: 0;
	  @include content-custom;
  	.views-row {
	    clear: both;
		@include equal-pad;
		@include clearfix;
		  .views-field-field-testimonial-image img {
		  	float: left;
			  margin-right: 3%;
			  margin-top: 0.5em;
			  max-width: 50%;
			 }
		  }
		  h2.testimonial-header {
		    @include respond-to(handhelds) { text-align: center; font-size: 1.5em; } /* Mobile */
		    margin: 0;
		      font-size: 2em;
			a, a:link, a:visited {
			  color: $dark-gray !important;
			  text-decoration: none;
			}
			a:hover, a:active, a:focus {
			  color: $burgundy !important;
			  text-decoration: none;
			}
		}
		h3.testimonial-header {
		  margin: 0;
		  font-size: 18px;
		} 
		.views-field-body {
			p {
			  margin-bottom: 0.5em;
			  letter-spacing: 0;
			}		
			p:last-child {
			  margin-bottom: 1em;
			}
			a.views-more-link:after {
			  margin-left: 0.5em;
			}
			a.views-more-link, a.views-more-link:link, a.views-more-link:visited {
			  color: $dark-gray !important; /* Important is for Athletics short view */
			  text-decoration: none;
			}
			a.views-more-link:hover, a.views-more-link:active, a.views-more-link:focus {
			  color: $burgundy !important; /* Important is for Athletics short view */
			  text-decoration: none;
			}
		}
		.views-field-field-attribution {
		  font-weight: bold;
		  font-size: 1.1em;
		  line-height: 1.2em;
		  color: $gray;
		}
		.views-field-field-affiliation {
		  color: $light-gray;
		  font-size: 1.09em;
		  font-family: $alt-font;
		  font-style: italic;
		}		
	}
}


.view-testimonials {
	#edit-field-testimonial-type-tid-wrapper,
	#edit-academic-area-wrapper {
	  @include respond-to(handhelds) { float: left; width: 100%; } /* Mobile */
	  @include respond-to(medium-screens) { float: left; width: 100%; } /* Tablets */		  
	}
	.views-exposed-widgets {
	 padding: 0 1em 0 0;
		.views-submit-button, .views-reset-button {
		  float: left;
		  padding-top: 0;
		  @include respond-to(handhelds) { float: left; } /* Mobile */
		  @include respond-to(medium-screens) { float: left; } /* Tablets */
		  	input {
		  	  margin-top: 1.5em;
		  	  @include respond-to(handhelds) { margin-top: 0.5em; } /* Mobile */
		      @include respond-to(medium-screens) { margin-top: 0.5em; } /* Tablets */
		    }
		}
	}
}

/* END Testimonial Views */

/* View Type: People Directory */
.pane-views-panes {
  .view-people-directory {
    @include equal-pad;
    .view-filters {
      .views-widget-filter-title,
      .views-widget-filter-field_person_title_value,
      .views-widget-filter-field_person_location_target_id,
      .views-widget-filter-tid_1 {
       width: 100%;
       margin-bottom: 0.5em;
        label { 
         display: inline-block;
         margin-right: 3.5em;
         float: left;
        }
      }
      .views-widget-filter-title input {
        width: 50%;
      }
      .views-submit-button, .views-reset-button {
       padding: 0 1em 1em 0;
      }
      .views-submit-button {
        .form-submit {
         color: $burgundy;
        }
      }
    }
    .view-empty {
     font-family: $alt-font;
       font-size: 1.2em;
       font-style: italic;
       text-align: center;
    }
    th {
      font-size: 13px;
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          text-decoration: underline;
          color: $neutral;
        }
    }
    tbody {
      td.views-field {
        width: 13%;
        word-break: break-all;
        word-wrap: break-word;
        &.views-field-field-person-phone {
          width: 14%;
        }
        &.views-field-field-person-email {
          width: 20%;
        }
      }
    }
    thead {
      th.views-field {
        white-space: nowrap;
        width: 13%;
        &.views-field-field-person-phone {
          width: 14%;
        }
        &.views-field-field-person-email {
          width: 20%;
        }
      }
    }
  }
}

// Person directory View mobile
.view-people-directory {
  .views-field-field-academic-area-or-major {
    display: none;
  }
}
/* END View Type: People Directory  */

/* BEGIN Related Files:  Views and Panes styling */

#relatedLinks-pane {
	h2.pane-title {
	 color: $gold;
	 border-bottom: none;
	 margin-bottom: 0;
	 background-color: transparent;
	 box-shadow: none;
	 padding: 0;
	 text-transform: none;
	}
	.related-links {
	 padding: 0;
		.view-content {
		 padding: 0;
			.views-row {
			 @include list-pad;
			 @include content-custom;
			 font-weight: bold;
			 margin-bottom: 1px;
				 a, a:link, a:active, a:visited  {
				 color: $light-gray;
				 text-decoration: none;
				 margin-bottom: 1px;
				}
				a:hover, a:active, a:focus {
				 color: $dark-gray;
				 text-decoration: none;
				}
			}
			.views-row:hover, .views-row:focus {
			 background-color: $gold;
			 color: $dark-gray;
				a, a:link {
				 color: $dark-gray;
				 text-decoration: none;
				}			 
			}
			.views-row-last {
			 margin-bottom: 0;
			}
		}
	}
}
#relatedPages-pane .pane-content,
#relatedLinks-pane .pane-content {
 padding: 0;
	.field-name-field-related-links,
	.field-name-field-related-files,
	.field-name-field-related-flexpages {
	 padding: 0;
		.field-item {
			a, a:link, a:active, a:visited  {
			 color: $light-gray;
			 text-decoration: none;
			 @include list-pad;
			 @include content-custom;
			 font-weight: bold;
			 display: block;
			 margin-bottom: 1px;				 
			}
			a:hover, a:active, a:focus {
			 background-color: $gold;
		 	 color: $dark-gray;
			 text-decoration: none;
			}
			img.file-icon { display: none; }
		}
		.field-item:last-child {
		 border-bottom: none;
			a, a:link, a:active, a:visited  {
			 margin-bottom: 0;
			}
		}
	}
}

/* END Related Files:  Views and Panes styling */
/* 
 * END All Views */

