/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/*
* General includes
*/
/*
 * Mixins
 */
/*
* General includes
*/
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/LeagueGothic/LeagueGothic-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothic/LeagueGothic-Regular-webfont.woff") format("woff"), url("../fonts/LeagueGothic/LeagueGothic-Regular-webfont.ttf") format("truetype"), url("../fonts/LeagueGothic/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans_narrowbold';
  src: url("../fonts/PT_Sans_Narrow/PTN77F-webfont.eot");
  src: url("../fonts/PT_Sans_Narrow/PTN77F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PT_Sans_Narrow/PTN77F-webfont.woff") format("woff"), url("../fonts/PT_Sans_Narrow/PTN77F-webfont.ttf") format("truetype"), url("../fonts/PT_Sans_Narrow/PTN77F-webfont.svg#pt_sans_narrowbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * Vanilla mixins
 */
/* Links */
/* Links END */
/* 
*	Style Elements
*/
/* Images */
/* Margin is overriding core wysiwyg settings */
/* Margin is overriding core wysiwyg settings */
/* Panels */
/*
* Social buttons backgrounds
*/
/*
* Flexible buttons
*/
/*
 * BEGIN: Athletics Mixins
 */
/*
 * END: Athletics Mixins
 */
/*
 * IE9 styles
 ****************************/
/* line 21, ../sass/ie9.scss */
.ie9 .athletic-content .region-content {
  margin-top: 0 !important;
}
