@import "variables";
@import "mixins";
@import "fontello";
@import "compass";
@import "compass/support";
@import "compass/typography/text";
@import "layouts";
@import "views";
@import "slideshows";
@import "navigation";
@import "panelpages";
@import "athletics";
@import "help";

/* 
* Reusable Styles
*/
.default-pane {
 @include default-pane;
 @include equal-pad; 
}

.inline-menu {
	ul {
	  margin-left: 0;
	  padding-left: 0;
	  display: inline;
		li {
		  margin-left: 0.5em;
		  padding: 0.5em 1em 0.5em 0.5em;
		  border-right: 1px solid $crumbs;
		  list-style: none;
		  display: inline;
		 }
		li.last {
		  margin-left: 0.0;
		  border-right: hidden;
		 } 
	 }
}
.hide-list {
	ul {
	  list-style: none;
		li {
		  list-position: outside;
		}
	}
}
.hide-border {
	table {
		tbody {
		  border-left: none;
		  border-right: none;
    		td {
			  border-bottom: none;
			  border-left: none;
    		}
		}	
	}
}
.hide-title {
	.pane-title {
	  display: none;
	}
}

.how-to {
	h1 {
	  margin-bottom: 1.5em;
	}
	ol, ul {
		li {
		  margin-bottom: 20px;
		}
	}

}

/* Reusable Image Styles */
.float-left { @include imgLeft; }
.float-right { @include imgRight; }
.image-border { @include pretty-picture; }


/* Reusable Typography Styles */
.rtecenter { text-align: center; }
.rteright { text-align: right; }
.rteleft { text-align: left; }

.subhead {
	font-family: $alt-font;
	color: $light-gray;
	margin: 0;
}

.fancy-link{
  @include fancy-link;
	a, a:link, a:visited {
  	  @include fancy-link;
  	}
  	a:hover, a:active, a:focus {
  	  @include fancy-link-hover;
  	}
}

.italic {
	font-style: italic;
}

/* ReUsable Blocks */

#boxes-box-submit_your_bio {
 display: inline-block;
 @include respond-to(handhelds) { margin:0 1em 1em; } /* Mobile */
	.pant-title.floatLeft { margin-right: 0.5em; }
	.goldButtn.floatRight{
	 margin-top: 0.75em;
		a {
			padding: 0.667em 1em;
			@include respond-to(handhelds) { padding: 0.667em 1.6em; } /* Mobile */	
		}
	}
}

.box-shadow {
  box-shadow: 0 0 5px #CCCCCC !important; 
}
.rounded-corners {
  @include default-round;
}
.box-shadow-white-inset {
  @include box-shadow-white-inset;
  @include equal-pad;
  border: 1px solid $crumbs;
  	ul {
	  margin-bottom: 0;
	} 
}

.call-to-action {
  @include gold-bttn;
  color: $black;
  margin: 1.692em 0;
	ul {
	  margin-bottom: 0;
	}	
}

.text-shadow {
   @include text-shadow(1.0);
}

.gold-box {
	background-color: #ffe29d;
  	@include equal-pad;	
}

.border-gray {
  @include content-custom;
  @include equal-pad;
	ul {
	  margin-bottom: 0;
	} 
}

/* END: ReUsable Blocks*/

/* Link Styles */
a.read-more-red, a.read-more-red:link, a.read-more-red:visited,
a.views-more-link, a.views-more-link:link, a.views-more-link:visited {
  @include fancy-link;
}
a.read-more-red:hover, a.read-more-red:active, a.read-more-red:focus,
a.views-more-link:hover, a.views-more-link:active, a.views-more-link:focus {
 text-decoration: none;
  @include fancy-link-hover;
}
a.read-more-red:after,
a.views-more-link:after {
  margin-left: 0.5em;
}

a.read-more-gold, a.read-more-gold:link, a.read-more-gold:visited {
 @include fancyGold-link;
}
a.read-more-gold:hover, a.read-more-gold:active, a.read-more-gold:focus {
 @include fancyGold-link-hover;
}
a.read-more-gold:after {
margin-left: 0.5em;
}

/* Reusable List Styles */
ul.no-bullets {
  margin-left: 0;
  li {
    list-style-type: none;
  }
}

/* Reusable Body Styles */
.two-columns {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	@include gap;
} 
.three-columns {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	@include gap;
} 

/* Site Sections Options */

.title-text-color-a { 
	h1.title, .pane-node-title h1 {
	color: $white;
	}
}
.title-text-color-b { 
	h1.title, .pane-node-title h1 {
	color: $gold;
	}
}
.title-text-color-c { 
	h1.title, .pane-node-title h1 {
	color: $gray;
	}
}
.title-text-color-d { 
	h1.title, .pane-node-title h1 {
	color: $black;
	}
}


.title-background-color-a {
	h1.title, .pane-node-title h1 {
	background-color: olive;
 	box-shadow: none;
 	border-bottom: 1px solid olive;
	}
}
.title-background-color-b {
	h1.title, .pane-node-title h1 {
	background-color: $light-blue;
 	box-shadow: none;
 	border-bottom: 1px solid $light-blue;
	}
}
.title-background-color-c {
	h1.title, .pane-node-title h1 {
	 background-color: $burgundy;
 	 box-shadow: none;
 	border-bottom: 1px solid $burgundy;
	}
}
.title-background-color-d {
	h1.title, .pane-node-title h1 {
 	 box-shadow: none;
	 background-color: $gold;
 	 border-bottom: 1px solid $gold;	  
	}
}

.title-background-color-a,
.title-background-color-b,
.title-background-color-c,
.title-background-color-d {
	.sidebar {
		.pane-main-menu > h2.pane-title:nth-child(1) {
		 @include dark-header-title;
		}
	}
	h2.pane-title,
	.pane-views-panes h2.pane-title,
	.sidebar .panel-pane h2.pane-title,
	.sidebar .pane-views-panes h2.pane-title {
	 color: $light-gray;
	 background-color: transparent;
	 box-shadow: none;
	 font-size: 1.67em;
	 text-transform: none;
	 padding: 0;
	 border-bottom: none;
	}
}

.menu-text-color-a {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
							a, a:link, a:visited {
							 color: $gold; 
				  			 text-decoration: none;
							}
							a:hover, a:active, a:focus {
							 color: darken($gold, 10%);
							}
						}
					}
				}
			}
		}
	}
}
.menu-text-color-b {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
							a, a:link, a:visited {
							 color: $white; 
				  			 text-decoration: none;
							}
							a:hover, a:active, a:focus {
							 color: darken($white, 10%);
							}
						}
					}
				}
			}
		}
	}
}
.menu-text-color-c {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
							a, a:link, a:visited {
							 color: $gray; 
				  			 text-decoration: none;
							}
							a:hover, a:active, a:focus {
							 color: darken($gray, 10%);
							}
						}
					}
				}
			}
		}
	}
}
.menu-text-color-d {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
							a, a:link, a:visited {
							 color: $dark-gray; 
				  			 text-decoration: none;
							}
							a:hover, a:active, a:focus {
							 color: $black;
							}
						}
					}
				}
			}
		}
	}
}

.menu-background-color-a {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
						 background-color: olive;
						 box-shadow: none;
						 border-bottom: 1px solid darken( olive, 10%);
							> ul.menu {
							border-top: 1px solid darken( olive, 10%);
							}
						}
						li.expanded {
						 border-bottom: hidden;
						}
						li:active, li:hover, li:focus {
						 background-color: darken( olive, 10% ); 
						}
					}
				}
			}
		}
	}
}
.menu-background-color-b {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
						 background-color: $gold;
						 box-shadow: none;
						 border-bottom: 1px solid $gold;
							> ul.menu {
							border-top: 1px solid $gold;
							}
						}
						li.expanded {
						 border-bottom: hidden;
						}
						li:active, li:hover, li:focus {
						 background-color: $darker-gold;
						 box-shadow: none;
						}
					}
				}
			}
		}
	}
}
.menu-background-color-c {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
						 background-color: $lighter-burgundy;
						 box-shadow: none;
						 border-bottom: 1px solid $darker-burgundy;
							> ul.menu {
							border-top: 1px solid $darker-burgundy;
							}
						}
						li.expanded {
						 border-bottom: hidden;
						}
						li:active, li:hover, li:focus {
						 background-color: $gold;
						 box-shadow: none;
						}
					}
				}
			}
		}
	}
}
.menu-background-color-d {
	.sidebar {
		.pane-main-menu {
			.menu-name-main-menu ul.menu {
				li.expanded {
					ul.menu {
						li {
						 background-color: $light-blue;
						 @include inset-blue;
						 border-bottom: 1px solid $dark-blue;
							> ul.menu {
							border-top: 1px solid $dark-blue;
							}
						}
						li.expanded {
						 border-bottom: hidden;
						}
						li:active, li:hover, li:focus {
						 background-color: $medium-blue;
						 box-shadow: none;
						}
					}
				}
			}
		}
	}
}


/* 
* END reusable styles
*/

.style-box {
  @include content-custom;
  @include equal-pad;
  margin-bottom: 10px;
  box-sizing:border-box;
 -moz-box-sizing:border-box; /* Firefox */
  min-height: 711px;
}

.ad-types {
	.style-box {
	  min-height: 310px !important;
	}
}

.bold {
	font-weight: bold;
}

.advanced-help-topic code {
  white-space: pre-line;
}